In [1]:
import random
def whosnext():
    students = ['Moritz','Peter','Carlota','Samneang','Saori','Jun','Sergei','Sébastien','Marvin']
    print(random.choice(students))

# Recap - Python Basics

This is a set of small independent assignments to recap the concepts of the day.

## 1. Variables

Create a `country` variable and assign your favorite country to it. Print it

In [8]:
# YOUR CODE HERE
country = "pluto"
print(country)

pluto

Create an `animal` variable and assign your favorite animal to it. Print it

In [9]:
# YOUR CODE HERE
animal = "dog"
print(animal)

dog

Create an `animal_count` variable with any positive integer in it. Print it

In [10]:
# YOUR CODE HERE
animal_count = 3
print(animal_count)

3

Print out a string using all your variables that follows this format:
`"I just ordered 200 monkeys from Denmark"`

**Hint**: use interpolation

In [13]:
# YOUR CODE HERE
print(f"I just ordered {animal_count} {animal}s from {country}")

I just ordered 3 dogs from pluto

---
## 2. Data Types
Now it's time to talk about data types. The first question to ask yourself before starting any coding task, is to determine which data types you're working with.

Run the following cells and pay attention to the variables initialized:

In [14]:
pi = 3.14
food = 'pizza'
colors = ['red', 'blue', 'yellow']
print("Variables are now defined!")
whosnext()

Variables are now defined!
Moritz

Assign each variable's correct data types (`str`, `float`, `list`) to new variables called `pi_type`, `food_type`, and `colors_type`. Then run the lower cell. 

The cell should display `True` when you define the right data types.

In [15]:
pi_type = float
food_type = str
colors_type = list

In [16]:
type(pi) == pi_type \
and type(food) == food_type \
and type(colors) == colors_type

True

Let's try to work with other data types. This time there's no hint.

In [17]:
user_profile = {'email': 'buffy@gmail.com', 'age': 19, 'password': 'hunter2', 'profession': 'Vampire Slayer' }
shapes = ('square', 'round', 'hexagonic')
age = 25
age_valid = (age < 18)
print("Variables are now defined!")

Variables are now defined!

Let's repeat the exercise from before with the new variables. Start by defining `user_profile_type`, `shapes_type`, and `age_valid_type`. Once again, the cell should display `True` when you're done.

In [18]:
user_profile_type = dict
shapes_type = tuple
age_valid_type = bool

In [19]:
type(shapes) == shapes_type \
and type(user_profile) == user_profile_type \
and type(age_valid) == age_valid_type

True

---

## 3. Functions

Create a fuction `credit_card_industry` which takes one parameter (a `str` storing a credit card number like `"4242 4242 4242 4242"` for instance) and **return** one of the following industries:

- Airline
- Visa
- Mastercard
- Other

This [article](https://www.thebalance.com/what-do-the-numbers-on-your-credit-card-mean-4588401) will prove handy if you don't know how to determine this from the number.

In [32]:
# YOUR CODE HERE
def credit_card_industry(ccnumber):
    reference = {"1": "Airline", "4": "Visa", "5": "Mastercard"}
    return reference.get(ccnumber[0], "Other")

Call this function and **print** the result for the following card numbers:

- `"4539 0132 4843 4768"`
- `"5131 9376 6800 4058"`
- `"3762 8789 1971 1060"`
- `"1002 0494 8191 1719"`

In [33]:
credit_card_industry("4539 0132 4843 4768")

'Visa'

In [34]:
credit_card_industry("5131 9376 6800 4058")

'Mastercard'

In [35]:
credit_card_industry("9131 9376 6800 4058")

'Other'

---
## 4. Lists

Create a `genres` variable with a list of 3 different movie genres as strings. Print the list.

In [44]:
# YOUR CODE HERE
genres = ["Thriller", "Comedy", "Sci-Fi"]
genres

['Thriller', 'Comedy', 'Sci-Fi']

Add another genre to the list. Print the whole list.

In [45]:
# YOUR CODE HERE
genres.append("Romance")
genres

['Thriller', 'Comedy', 'Sci-Fi', 'Romance']

Change the name of the second genre on the list. Print the whole list

In [46]:
# YOUR CODE HERE
genres[1] = "Biography"
genres

['Thriller', 'Biography', 'Sci-Fi', 'Romance']

Print each genre (sorted) to the terminal following this format (use a for loop with enumerate):

```
1 - Action
2 - Comedy
3 - Drama
4 - Thriller
```

In [63]:
# YOUR CODE HERE
print(genres)
print(enumerate(genres))
print(list(enumerate(genres)))

genres.sort() # changes the genres list -> sorting it alpha
sorted_genres = sorted(genres) # returning the sorted version of a list (not changing genres)
for index, genre in enumerate(genres):
    print(f"{index+1} - {genre}")

['Biography', 'Romance', 'Sci-Fi', 'Thriller']
<enumerate object at 0x10d3b7d40>
[(0, 'Biography'), (1, 'Romance'), (2, 'Sci-Fi'), (3, 'Thriller')]
1 - Biography
2 - Romance
3 - Sci-Fi
4 - Thriller

---
## 5. Dictionaries

Create a `movie` variable with a dictionary containing information about any movie. It should contain the keys `year` and `title` with appropriate values. You can get some inspiration on [IMDB](https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating)

In [1]:
# YOUR CODE HERE
movie = {"title": "The Shawshank Redemption", "year": 1994}

Add a `director` key to the dictonary with the appropriate value. Print the `movie` dictionary

In [2]:
# YOUR CODE HERE
movie["director"] = "Frank Darabont"
movie

{'title': 'The Shawshank Redemption',
 'year': 1994,
 'director': 'Frank Darabont'}

Create a `movies` variable and initialize it with an empty list.

In [3]:
# YOUR CODE HERE
movies = []

Add your `movie` to the list along with two more movies, with the same keys as the first one. Then print the entire list

In [4]:
# YOUR CODE HERE
movies.append(movie)
movies.append({"title": "Godfather", "year": 1972, "director": "Francis Ford Coppola"})
movies.append({"title": "The Matrix", "year": 1999, "director": "The Wachowski"})
movies

[{'title': 'The Shawshank Redemption',
  'year': 1994,
  'director': 'Frank Darabont'},
 {'title': 'Godfather', 'year': 1972, 'director': 'Francis Ford Coppola'},
 {'title': 'The Matrix', 'year': 1999, 'director': 'The Wachowski'}]

Finally, print the `movies` list line by line in the terminal in the following format (using a `for` loop):
```
Terminator by James Cameron was released in 1984
Godfather by Francis Ford Coppolla was released in 1972
The Matrix by The Wachowski Brothers was released in 1999
```

In [5]:
# YOUR CODE HERE
for movie in movies:
    print(f"{movie['title']} by {movie['director']} was released in {movie['year']}")

The Shawshank Redemption by Frank Darabont was released in 1994
Godfather by Francis Ford Coppola was released in 1972
The Matrix by The Wachowski was released in 1999

---
## 6. Dictionaries + Lists

Often when we're dealing with data, we have to find our way around a big dictionary. This can be a bit intimidating at first. But have no fear, once you get the hang of it, it's quite comfortable to navigate. When we're dealing with bigger dictionaries, it's important to take the time and read through it, knowing what kind of data types are stored and what structure it has. 

It's often a small subset of the information we're interested in looking at, so we need to know how to precisely access it. Start by running the cell below:

What does `movie['actors']['support'][2]` return?

In [6]:
movie = {
    'title': { 'en': 'The Dark Knight', 'fr': 'Le Chevalier Noir' },
    'year': 2008,
    'director': 'Christopher Nolan',
    'rating': 'PG-13',
    'plot': {
        'en': 'The Batman is out for blood',
        'fr': 'Batman est de retour, plus vénère que jamais'
    },
    'box office USD': {'USA': 535_234_033, 'rest_of_world': 469_700_000 },
    'actors': {
        'lead': ['Christian Bale', 'Heath Ledger'],
        'support': ['Aaron Eckhardt', 'Morgan Freeman', 'Gary Oldman', 'Maggie Gyllenhaal' ]
    }
}
# print("movie is defined!")
# whosnext()

Try to guess the answer to the questions without writing any code. Then try the code out for yourself to test your theory.

What does `movie['title']['fr']` return?

In [7]:
movie['title']['fr']

'Le Chevalier Noir'

What does `movie['title']['es']` return?

In [81]:
movie['title']['es']

KeyError: 'es'

What does `movie['actors']['support'][2]`return?

In [8]:
movie['actors']['support'][2]

'Gary Oldman'

### Optional 

Find a way to extract one list containing all the actors from the movie.

In [19]:
# YOUR CODE HERE
print(movie['actors']["lead"] + movie['actors']["support"])

['Christian Bale', 'Heath Ledger', 'Aaron Eckhardt', 'Morgan Freeman', 'Gary Oldman', 'Maggie Gyllenhaal']

Try to calculate the total box office of the movie from `movie`

In [21]:
print(movie['box office USD']["USA"] + movie['box office USD']["rest_of_world"])

1004934033

Would the code above still work with the following Box Office. How would you compute the total Box Office using a `for` loop?

In [22]:
box_office = {"US": 200_000_000, "EU": 85_000_000, "China": 110_000_000}
print(box_office)

{'US': 200000000, 'EU': 85000000, 'China': 110000000}

In [23]:
# YOUR CODE HERE
sum(box_office.values())

395000000

In [24]:
110_000_000

110000000